<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Configuration</title>
	<meta charset="UTF-8">
</head>
<body>

<h1>Proxy Config</h1>

<form action="#" th:action="@{/config}" th:object="${configuration}" method="post">
	<p>
	<ul>
		<li th:each="radioValue: ${modes}">
			<input type="radio"
				   th:field="*{mode}"
				   th:value="${radioValue}" />
			<label
					th:for="${#ids.prev('mode')}"
					th:text="${radioValue}"></label>
		</li>
	</ul>
	</p>

	<p>
		 Latency(ms): <input type="text" th:field="*{mockLatency}">
	</p>

	<p>
		Proxy Forward: <input type="text" th:field="*{proxyForwardUrl}">
	</p>



	<p>
		<label th:for="matchBody" th:text="'Match request body[default uri only]'"></label>
		<input type="checkbox" th:field="*{matchBody}" />
	</p>

	<p>
	<ul>
		<li th:each="radioValue: ${contentTypes}">
			<input type="radio"
				   th:field="*{contentType}"
				   th:value="${radioValue}" />
			<label
					th:for="${#ids.prev('contentType')}"
					th:text="${radioValue}"></label>
		</li>
	</ul>
	</p>

	<p>
		<input type="submit" value="Save"/>
	</p>
</form>

</body>
</html>
